[submodule ".spacemacs.d"]
	path = .spacemacs.d
	url = https://github.com/lujianmei/.spacemacs.d.git
[submodule ".mutt"]
	path = .mutt
	url = https://github.com/lujianmei/.mutt.git

[submodule ".spacevim.d"]
	path = .spacevim.d
	url = https://github.com/lujianmei/.spacevim.d
[submodule "spacehammer"]
	path = spacehammer
	url = https://github.com/lujianmei/spacehammer.git
[submodule "work-envs/data-science-env"]
	path = work-envs/data-science-env
	url = https://github.com/lujianmei/data-science-env.git
[submodule "work-envs/gpdb-docker"]
	path = work-envs/gpdb-docker
	url = https://github.com/lujianmei/gpdb-docker.git
[submodule "work-envs/kubernetes-docker-library"]
	path = work-envs/kubernetes-docker-library
	url = https://github.com/lujianmei/docker-library
[submodule "work-envs/openshift-ansible"]
	path = work-envs/openshift-ansible
	url = https://github.com/lujianmei/openshift-ansible
[submodule "work-envs/k8s-core-infrastructure"]
	path = work-envs/k8s-core-infrastructure
	url = https://github.com/lujianmei/k8s-core-infrastructure
[submodule "work-envs/docker-jira-bitbucket-gitlab"]
	path = work-envs/docker-jira-bitbucket-gitlab
	url = https://github.com/lujianmei/docker-jira-bitbucket-gitlab
[submodule "work-envs/python-vagrant-centos7"]
	path = work-envs/python-vagrant-centos7
	url = https://github.com/lujianmei/python-vagrant-centos7
[submodule "work-envs/greenplum-docker"]
	path = work-envs/greenplum-docker
	url = https://github.com/lujianmei/greenplum-docker.git
[submodule "work-envs/hadoop-docker"]
	path = work-envs/hadoop-docker
	url = https://github.com/lujianmei/docker-hadoop.git
[submodule "work-envs/janusgraph-docker"]
	path = work-envs/janusgraph-docker
	url = https://github.com/lujianmei/janusgraph-docker.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/lujianmei/.tmux.git
