[submodule ".spacemacs.d"]
	path = .spacemacs.d
	url = https://github.com/lujianmei/.spacemacs.d.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/lujianmei/.tmux.git
[submodule ".hammerspoon"]
	path = .hammerspoon
	url = https://github.com/lujianmei/.hammerspoon.git
