[submodule ".spacemacs.d"]
	path = .spacemacs.d
	url = https://github.com/lujianmei/.spacemacs.d.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/lujianmei/.tmux.git
[submodule ".spacevim.d"]
	path = .spacevim.d
	url = https://github.com/lujianmei/.spacevim.d
[submodule "spacehammer"]
	path = spacehammer
	url = https://github.com/lujianmei/spacehammer.git
[submodule "work-envs/data-science-env"]
	path = work-envs/data-science-env
	url = https://github.com/lujianmei/data-science-env.git
[submodule "work-envs/gpdb-docker"]
	path = work-envs/gpdb-docker
	url = https://github.com/lujianmei/gpdb-docker.git
[submodule "work-envs/kubeform"]
	path = work-envs/kubeform
	url = https://github.com/lujianmei/kubeform
[submodule "work-envs/kubernetes-vagrant-coreos-cluster"]
	path = work-envs/kubernetes-vagrant-coreos-cluster
	url = git@github.com:lujianmei/kubernetes-vagrant-coreos-cluster.git
[submodule "work-envs/kubernetes-docker-library"]
	path = work-envs/kubernetes-docker-library
	url = https://github.com/lujianmei/docker-library
[submodule "work-envs/k8s-core-infrastructure"]
	path = work-envs/k8s-core-infrastructure
	url = https://github.com/lujianmei/k8s-core-infrastructure
